.navbar-default .navbar-toggle .icon-bar {
    background-color: #F8F8F8;
}

.navbar-default .navbar-toggle:hover {
	background-color: transparent;
}

body, html {
	height: 100%;
}

/*html {
	background: url(../img/hero.jpg) no-repeat center center fixed;
	background-size: cover;
	z-index: 0;
}*/

.spacing-div {
	height: 45px;
}

.slice {
	width: 100%;

}

.wide-photo {
	position: relative;
}

.main-contain {
	z-index: 10;
	/*position: absolute;*/
	top: 135px;
	background-color: #c51625;
	width: 100%;
	overflow: auto;
	/*opacity: 0.5;*/
	
}


.main-copy {

	text-align: center;
	color: #f8f8f8;

	
}

.footr {
	background-color: #c51625;
	color: #f8f8f8;
	text-align: center;