.navbar-default .navbar-toggle .icon-bar {
    background-color: #F8F8F8;
}

.navbar-default .navbar-toggle:hover {
	background-color: transparent;
}

body, html {
	height: 100%;
}

html {
	background: url(../img/hero.jpg) no-repeat center center fixed;
	background-size: cover;
}
.main-contain {
	position: relative;
	width: 100%;
}
.bgimg {

}

.maincopy {
	position: absolute;
	text-align: center;
}