.navbar-default .navbar-toggle .icon-bar {
    background-color: #F8F8F8;
}

.navbar-default .navbar-toggle:hover {
	background-color: transparent;
}

body, html {
	height: 100%;
}

/*html {
	background: url(../img/hero.jpg) no-repeat center center fixed;
	background-size: cover;
	z-index: 0;
}*/
.main-contain {
	z-index: 10;
	position: relative;
	background-color: black;
	width: 100%;
}


.maincopy {
	position: absolute;
	
}